.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#bbddf6, #fcf5eb);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  background-color: #c3cfd9;
  color: #000;
  border-style: solid;
  width: 100%;
  border-radius: 10px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  border-radius: 10px;
}

.list-item {
  display: flex;
  justify-content: center;
  border-style: solid;
  width: 100%;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
